#nav-wrapper {
    background-color: var(--primary);
    padding: 0.5em 0;
    color: var(--white);
}

#main-nav {
    align-items: center;
    justify-content: space-between;
}

#nav-left {
    font-size: var(--fs-lg);
    font-weight: 600;
}

#nav-right,
.profile {
    align-items: center;
    justify-content: right;
    gap: 1.5em;
}

.profile {
    gap: 0.4em;
}

.profile img {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 2em;
}

@media screen and (max-width:500px) {
    
    #main-nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
    }

    #nav-right {
        align-self: flex-end;
    }

    #scroll-here {
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
    }

    #page-content {
        overflow-x: auto;
    }
    
}