#main-content {
    width: 100%;
}
:root {
    --red: #d9534f;
}

.status-message {
    position: fixed;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em 1em;
    color: var(--white);
    transition: transform 1s;
}

#success-msg {
    background-color: var(--green);
}

#error-msg {
    background-color: var(--red);
}

.hide-msg {
    transform: translateY(200%);
}