.action {
    place-items: center;
    gap: 0.4em;
    padding: 0.3em 0.6em;
    height: 2.2em;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 0.4em;
}

.action img {
    filter: invert(1);
}

.view-right {
    gap: 1em;
    flex-wrap: wrap;
}

.view-header {
    justify-content: space-between;
}

.view-left h3 {
    font-weight: 700;
    font-size: var(--fs-lg);
    margin-bottom: 0.5em;
    color: var(--primary);
}

.view-header, .details {
    margin-block: 2em;
    border: 1px solid transparent;
} 

.view-left p span {
    font-style: italic;
    color: var(--primary);
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.field a {
    display: block;
    color: var(--primary);
    text-decoration: underline;
}

.action, .pointer {
    cursor: pointer;
}

.field-name {
    margin-bottom: 0.5em;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary);
}

.count {
    margin-block: 0.5em;
    font-weight: 500;
}

.a-count {
    color: var(--primary)
}

.f-url {
    word-break: break-all;
}

.delete {
    background-color: var(--red);
}

#detailsContainer {
    padding-bottom: 2em;
}

.delete-popup p {
    margin-block: 1em;
}

#confirm-delete {
    background-color: var(--red);
}

.delete-popup .view-right {
    justify-content: right;
}

@media screen and (max-width:900px) {
    .view-header {
        flex-direction: column;
        gap: 1em;
    }

    .details {
        grid-template-columns: 1fr;
    }
    
}