.headline {
    font-weight: 500;
    font-size: var(--fs-lg);
    color: var(--primary);
}

.line {
    width: 20px;
    min-width: 30px;
    height: 2px;
    background-color: var(--orange);
    border-radius: 2px;
    margin-top: 0.3em;
}

.news-bottom {
    display: flex;
    place-items: center;
    gap: 1em;
    font-size: var(--fs-sm);
    color: var(--light-black);
    max-height: 2em;
}

#content-container,
.content-container {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    justify-content: center;
}

.dark .news-container {
    background-color: var(--milk-white);
}

.news-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1em;
    padding: 1em;
    flex: 0 0 calc(33.33% - 3em);
    background-color: var(--white);
}

@media screen and (max-width: 1080px) {
    .news-container {
        flex: 0 0 calc(50% - 3em);
    }
}

@media screen and (max-width: 800px) {
    .news-container {
        flex: 0 0 calc(100%);
    }
}
