.headline {
    font-weight: 600;
    font-size: var(--fs-lg);
}

.line {
    width: 5%;
    min-width: 30px;
    height: 2px;
    background-color: var(--orange);
    border-radius: 2px;
    margin-top: 0.3em;
}

.news-bottom {
    display: flex;
    place-items: center;
    gap: 0.5em;
    font-size: var(--fs-sm);
    color: var(--light-black);
}

#content-container,
.content-container {
    display: grid;
    gap: 2em;
}

.news-container {
    display: grid;
    gap: 0.8em;
}
