#news-media {
    --title-height: 3rem;
}

#news-media #content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

#news-media .media-container {
    flex: 0 0 calc(33.33% - 1em);
    display: grid;
    grid-template-rows: auto var(--title-height);
    place-items: center;
    background-color: #f6f6f6;
    gap: 0.75em;
    padding: 1em;
}

.media-container p {
    text-align: center;
    font-weight: 600;
    max-height: var(--title-height);
    overflow: hidden;
}

.media {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.media-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1080px) {
    #news-media .media-container {
        flex: 0 0 calc(50% - 1em);
    }
}

@media screen and (max-width: 700px) {
    #news-media .media-container {
        flex: 0 0 calc(100% - 0.5em);
    }
}

@media screen and (max-height: 400px) {
    #news-media {
        --title-height: 4rem;
    }
}
