#news-press #content-container {
    gap: 2.5em;
    justify-content: start;
}

#news-press {
    padding-inline: var(--lr-p);
}

#news-press .news-container {
    grid-template-rows: none;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.04);
    background-color: transparent;
    flex: 0 0 100%;
    padding: 0.5em;
}

#news-press .headline {
    font-size: var(--fs-md);
    color: var(--primary);
}

