<div class="footer-wrapper"> 
<footer class="width-control-700">
    <div class="top">
        <div>
            <h3 class="flex-b"><img src="/images/language.svg" class="i-1"/><span>Languages</span></h3>
            <p>हिन्दी</p>
            <p>English</p>
        </div>
        <div>
            <h3 class="flex-b"><img src="/images/school.svg" class="i-1">Institutes</h3>
            <p>Reporting by Institutes</p>
            <p>Verify Institue approval</p>
        </div>
        <div>
            <h3 class="flex-b"><img src="/images/services.svg" class="i-1">Services</h3>
            <p>AICTE Dashboards</p>
            <p>PGDM Student Verification</p>
            <p>Reports</p>
        </div>
        <div>
            <h3>AICTE</h3>
            <p>Terms of use</p>
            <p>Privacy Policy</p>
            <p>Right to Information</p>
            <p>Directory</p>
            <p>Centralized Support System</p>
        </div>
    </div>
    <div class="bottom"> 
        <div class="copy">
            <img src="/images/copyrights.svg"/ class="i-1">
            <p class="font">Copyrights 2022</p>
        </div>
        <p> 404 Team Not Found</p>
    </div>
</footer>
</div>
