<footer>
    <div class="top">
        <div>
            <h3>Languages</h3>
            <p>हिन्दी</p>
            <p>English</p>
        </div>
        <div>
            <h3>Institutes</h3>
            <p>Reporting by Institutes</p>
            <p>Verify Institue approval</p>
        </div>
        <div>
            <h3>Services</h3>
            <p>AICTE Dashboards</p>
            <p>PGDM Student Verification</p>
            <p>Reports</p>
        </div>
        <div>
            <h3>AICTE</h3>
            <p>Terms of use</p>
            <p>Privacy Policy</p>
            <p>Right to Information</p>
            <p>Directory</p>
            <p>Centralized Support System</p>
        </div>
        <div>
            <h3>Get in Touch</h3>
            <p>Contact Us</p>
            <div class="contact">
                <img src="/images/android.svg"/>
                <img src="/images/twitter.svg"/>
                <img src="/images/fb.svg"/>
            </div>
        </div>
    </div>
    <div class="bottom"> 
        <div class="copy">
            <img src="/images/copyrights.svg"/>
            <p class="font">Copyrights 2022 - <span> Team Not Found<span></p>
        </div>
    </div>
</footer>
