mixin generateSubMenu(data)
	.submenu.width-control-700(class= data.items.length <= 6 ? "x6" : "x12" id="menu-"+data.title)
		.submenu-left.flex 
			img.hide-lg.nav-back(src="/images/navigate_before.svg" alt="").i-0
			h2= data.title
		.submenu-right
			each item in data.items
				a(href=item.url)= item.name  

mixin generateMenu(data, hide)
	.submenu-container(tabindex=0, class=hide?"hide-lg":"")
		.menu-head.flex 
			span= data.title 
			img(src="/images/downarrow.svg" alt="").i-1
		.submenu-wrapper
			+generateSubMenu(data)



#nav-container
	#status-wrapper.w-wrapper
		#status.flex.width-control-700
			.action.flex.hide#light 
				span.hide-sm Light Mode
				img(src="/images/light-mode.svg" alt="")
			.action.flex#dark 
				span.hide-sm Dark Mode
				img(src="/images/dark_mode_black_18dp.svg" alt="")
			.action.flex
				span.hide-sm Text size
				div.font-grp.flex
					span#f-decrease A-
					span#f-normal A 
					span#f-increase A+
			.action.flex 
				span.hide-sm Screen Reader Access 
				img(src="/images/screen-reader.svg" alt="")
	#header-wrapper.w-wrapper
		#header.flex.width-control-700
			#m-icons.hide-lg 
				img#menu-icon.hide-lg(src="/images/menu-icon.svg" alt="").i-1 
				img#close-icon.hide(src="/images/close-icon.svg" alt="").i-1
			#nav-left.flex 
				img#aicte-logo.hide-sm(src="/images/aicte-logo.png" alt="")
				a.logo.hide-sm(href="/")  
					span.hindi अखिल भारतीय तकनीकी शिक्षा परिषद
					span ALL INDIA COUNCIL OF TECHNICAL EDUCATION
				a.hide-lg(href="/") AICTE
			#nav-right
				img(src="/images/search.svg" alt="").i-1
	#nav-wrapper.w-wrapper
		nav#primary-nav.flex.width-control-700
			a#home(href="/") Home
			-var i = 0 
			while i < 4
				+generateMenu(navData[i++])
			while i < navData.length
				+generateMenu(navData[i++], true)

			-i = 4
			.submenu-container#info-menu.hide-sm(tabindex=0) 
				.menu-head.flex 
					span Information 
					img(src="/images/downarrow.svg" alt="").i-1
				#info-wrapper.submenu-wrapper
					#info-menu-scroller.width-control-700
						while i < navData.length
							+generateSubMenu(navData[i++]) 

