#paginator(data-api=api)
    div.dir-button#prev 
        img(src="/images/readmore.svg" alt="prev").i-0
        span Prev
    #paginate-numbers 
    div.dir-button#next 
        span Next 
        img(src="/images/readmore.svg" alt="next").i-0

