doctype html
html
  head
    block head
      title AICTE

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    link(rel='stylesheet' href='/stylesheets/resets.css')
    link(rel='stylesheet' href='/stylesheets/styles.css')
    link(rel="stylesheet" href="/stylesheets/partials/footer.css")
    link(rel="stylesheet" href="/stylesheets/partials/nav.css")
    link(rel="stylesheet" href="/stylesheets/partials/overlay.css")

    block css 

  body
    #site-wrapper
      include ../partials/nav

      main#main-content
        block content

      include ../partials/footer

    <script src="https://aicte-bot.live/assets/modules/channel-web/inject.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
    script(src="/javascripts/overlay.js" defer)
    script(src="/javascripts/nav.js" defer)

    block scripts
