@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins&display=swap");

html {
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --orange: #fb710d;
    --orange2: #ff6a3c;
    --blue: #0a1045;
    --yellow: #f9e900;
    --black: #232323;
    --grey: #fffff0;
    --milk-white: #fffef7;
    --white: #ffffff;
    --light-black: #4f4f4f;
    --gray4: #bdbdbd;
    --paper-white: #f9fbff;
    --fs-xxl: 1.8rem;
    --fs-xl: 1.4rem;
    --fs-bg: 1.35rem;
    --fs-lg: 1.125rem;
    --fs-md: 1rem;
    --fs-sm: 0.8rem;
    --fs-res: clamp(var(--fs-lg), calc(5vw + 1rem), 4rem);
    --nav-height: 4rem;
    --lr-padding: 1.5em;
    --status-bar-height: 2rem;
}

@media screen and (max-width: 400px) {
    :root {
        --lr-padding: 1em;
    }
}

html,
body {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    min-height: 100vh;
}

#main-content {
    padding-inline: var(--lr-padding);
}

/* <button class="btn-highlight></button> */
.btn-highlight {
    padding: 0.2em 0.4em;
    background-color: var(--orange);
    border: none;
    border-radius: 0.3em;
    color: white;
    height: fit-content;
}

/* <h1 class="page-title"></h1> */
.page-title {
    text-transform: uppercase;
    font-size: var(--fs-xl);
    padding: 0.25em 10% 0.25em 0.25em;
    background-color: var(--orange2);
    color: var(--white);
    font-weight: 500;
    border-bottom: 3px solid var(--black);
    margin-bottom: 2em;
    width: fit-content;
}

/*a(href='/' class="btn-more") 
        span Know more  
        img(src="/images/readmore.svg" alt="readmore" id="readmore")*/
.btn-more {
    display: flex;
    gap: 0.4em;
    padding: 0.4em 0.4em;
    background-color: var(--blue);
    border: none;
    border-radius: 0.3em;
    color: white;
    width: fit-content;
    font-size: var(--fs-md);
}

.btn-more #readmore {
    width: 1rem;
    aspect-ratio: 1;
}

.sub-title {
    font-size: var(--fs-bg);
    font-weight: 600;
    text-transform: capitalize;
    border-bottom: 3px solid var(--orange);
    width: fit-content;
    --xtra-len: 15%;
    padding-bottom: 0.3em;
    margin-bottom: 2em;
}

/* h2.sub-title.center */
.sub-title.center {
    padding-inline: calc(var(--xtra-len) / 2);
    margin-inline: auto;
}

/* h2.sub-title.left */
.sub-title.left {
    padding-right: var(--xtra-len);
}

/* h2.sub-title.right */
.sub-title.right {
    padding-left: var(--xtra-len);
    margin-left: auto;
}

/* 
div.hero
    img(src="")
    p */
.hero {
    display: flex;
    justify-content: center;
    margin: 0 auto 3em auto;
    overflow: hidden;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.hero img {
    max-width: 1300px;
    max-height: 60vh;
    min-height: 350px;
    object-fit: contain;
    object-position: center;
}

.hero p {
    font-weight: 600;
    text-align: center;
    font-style: italic;
}

.news-content,
.media-content {
    min-height: 20vh;
    position: relative;
}

.hide {
    display: none;
}

.page-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.page-split > * {
    margin-inline: calc(var(--lr-padding) * -1);
    padding-block: 2em;
}

.page-split-right {
    padding-inline: 3em var(--lr-padding);
}

.page-split-left {
    padding-inline: var(--lr-padding) 3em;
}

@media screen and (max-width: 900px) {
    .page-split {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .page-split > * {
        padding-inline: var(--lr-padding);
    }
}

.right-arrow {
    transform: rotateZ(180deg);
}

.revert-margin {
    margin-inline: calc(var(--lr-padding) * -1);
}

.revert-padding {
    margin-inline: calc(var(--lr-padding) * -1);
    padding-inline: var(--lr-padding);
}
