@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap");

html {
    font-size: 9.58px;
    font-family: "Open sans", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --primary: #004b76;
    --primaryc: #004b76;
    --orange: var(--primary);
    --green: #007430;
    --primary2: #062135;
    --primary3: #68bbea;
    --primary4: #69d6e8;
    --yellow: #f9e900;
    --black: #000;
    --black2: rgb(27, 27, 27);
    --grey: #fffff0;
    --grey2: #cccccc;
    --grey3: #e5e5e5;
    --milk-white: #fffef7;
    --white: #ffffff;
    --light-black: #4f4f4f;
    --gray4: #ededed;
    --paper-white: #f9fbff;
    --fs-xxl: 2.4rem;
    --fs-xl: 2.2rem;
    --fs-bg: 2rem;
    --fs-lg: 1.8rem;
    --fs-md: 1.6rem;
    --fs-sm: 1.4rem;
    --fs-xs: 1.2rem;
    --fs-res: clamp(var(--fs-lg), calc(5vw + 1rem), 4rem);
    --nav-height: 5.5rem;
    --lr-padding: 6em;
    --lr-p: 1em;
    --status-bar-height: 3rem;
    --primary-nav-height: 5rem;
    --t-white: rgba(255, 255, 255, 0.5);
    --t-white2: rgba(255, 255, 255, 0.9); 
    --t-white3: rgba(255, 255, 255, 0.75); 
    --white3: rgb(252 252 252);
    --nav-color: #eaf6ff;
    --top-offset: calc(
        var(--status-bar-height) + var(--nav-height) + var(--primary-nav-height)
    );
    color: var(--black);
    background-color: var(--white);
}

@media screen and (max-width: 700px) {
    :root {
        --lr-padding: 0.5em;
    }
}

.dark {
    --primary: #0d91dd;
    --orange: var(--primary);
    --green: #1be970;
    --primary2: #3d89c4;
    --primary3: #367da7;
    --primary4: #69d6e8;
    --yellow: #f9e900;
    --black: #fff;  
    --black2: rgb(236, 236, 236);
    --grey: #a0a0a0;
    --grey2: #3a3a3a;
    --grey3: #313131;
    --milk-white: #1a1a1a;
    --white: rgb(22, 22, 22);
    --light-black: #cecece;
    --gray4: #111111;
    --paper-white: #2b2b2b;
    --t-white: rgba(0, 0, 0, 0.5); 
    --t-white2: rgba(0, 0, 0, 0.9); 
    --t-white3: rgba(0, 0, 0, 0.75); 
    --white3: rgb(44, 44, 44);
    --nav-color: var(--white);
    color: var(--black);
    background-color: var(--white);
}

.dark .i-1 {
    filter: invert(1);
}

.dark .i-0 {
    filter: invert(0);
}

html,
body {
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-size: var(--fs-md);
    transition: color 500ms linear, background-color 500ms linear;
}

#site-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.width-control-700 {
    margin: 0 auto;
    max-width: 1280px;
}

.width-control-400 {
    margin: 0 auto;
    max-width: 900px;
}

.flex {
    display: flex;
}

.pd {
    padding-inline: var(--lr-p);
}

.gray-bg {
    background-color: var(--gray4);
}

/* <button class="btn-highlight></button> */
.btn-highlight {
    padding: 0.2em 0.4em;
    background-color: var(--orange);
    border: none;
    border-radius: 0.3em;
    color: var(--white);
    height: fit-content;
}

/* <h1 class="page-title"></h1> */
.page-title {
    text-transform: uppercase;
    font-size: var(--fs-xl);
    padding: 0.25em 10% 0.25em 0.25em;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 500;
    border-bottom: 3px solid var(--black);
    margin-block: 1em 2em;
    width: fit-content;
    font-family: "Catamaran", sans-serif;
}

/*a(href='/' class="btn-more") 
        span Know more  
        img(src="/images/readmore.svg" alt="readmore" id="readmore")*/
.btn-more {
    display: flex;
    gap: 0.4em;
    padding: 0.2em 0.4em;
    background-color: var(--primary);
    border: none;
    border-radius: 0.3em;
    color: var(--white);
    width: fit-content;
    font-size: var(--fs-md);
}

.underlink {
    gap: 0.5em;
    color: var(--primary);
    margin: 1em auto;
    padding: 0;
    width: fit-content;
}

.underlink img {
    filter: invert(1);
}

.btn-more #readmore {
    width: 1.1em;
    aspect-ratio: 1;
}

.calendar {
    aspect-ratio: 1;
    width: var(--fs-md);
}

.sub-title {
    font-size: var(--fs-bg);
    font-weight: 600;
    text-transform: capitalize;
    border-bottom: 3px solid var(--green);
    width: fit-content;
    --xtra-len: 15%;
    padding-bottom: 0.3em;
    margin-bottom: 1.5em;
    font-family: "Catamaran", sans-serif;
}

/* h2.sub-title.center */
.sub-title.center {
    padding-inline: calc(var(--xtra-len) / 2);
    margin-inline: auto;
}

/* h2.sub-title.left */
.sub-title.left {
    padding-right: var(--xtra-len);
}

/* h2.sub-title.right */
.sub-title.right {
    padding-left: var(--xtra-len);
    margin-left: auto;
}

/* 
div.hero
    img(src="")
    p */
.hero {
    display: flex;
    justify-content: center;
    margin: 0 auto 3em auto;
    overflow: hidden;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.hero img {
    max-width: 1300px;
    max-height: 60vh;
    min-height: 350px;
    object-fit: contain;
    object-position: center;
}

.hero p {
    font-weight: 400;
    text-align: center;
    font-style: italic;
}

.media {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.media-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.news-content,
.media-content {
    min-height: 20vh;
    position: relative;
}

.hide {
    display: none;
}

.page-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.page-split > * {
    margin-inline: calc(var(--lr-padding) * -1);
    padding-block: 2em;
}

.page-split-right {
    padding-inline: 3em var(--lr-padding);
}

.page-split-left {
    padding-inline: var(--lr-padding) 3em;
}

@media screen and (max-width: 900px) {
    .page-split {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .page-split > * {
        padding-inline: var(--lr-padding);
    }
}

.right-arrow {
    transform: rotateZ(180deg);
}

.revert-margin {
    margin-inline: calc(var(--lr-padding) * -1);
}

.revert-padding {
    margin-inline: calc(var(--lr-padding) * -1);
    padding-inline: var(--lr-padding);
}
