extends ../layouts/layout

block head 
    title= "About - AICTE"
block css 
    link(rel="stylesheet" href="/stylesheets/about/history.css")
block content
    h1.page-title history
    .hero      
        img(src="/images/about_history.svg" alt="about_history")
        p.image-description The beginning of formal technical education in India can be dated back to the mid-19th century. Major policy initiatives in the pre-independence period included the appointment of the Indian Universities Commission in 1902, issue of the Indian Education Policy Resolution in 1904, and the Governor General’s policy statement of 1913 stressing the importance of technical education, the establishment of IISc in Bangalore, Institute for 



    <div id="content">
        <div id="top">
            h1.sub-title initial set-up
            <div id="left">
                <div class="container"> All India Council for Technical Education (AICTE) was set up in November 1945 as a national-level apex advisory body to conduct a survey on the facilities available for technical education and to promote development in the country in a coordinated and integrated manner. And to ensure the same, as stipulated in the National Policy of Education (1986), AICTE was vested with:<br><br>• Statutory authority for planning, formulation, and maintenance of norms & standards <br>• Quality assurance through accreditation<br> • Funding in priority areas, monitoring, and evaluate <br>• Maintaining parity of certification & awards<br>• The management of technical education in the country
                </div>
            </div>
                <div class="container"> 
                    <div class="vl">
                        <div class="vl-right">
                        </div>
                        <div class="vl-left">
                        </div>
                        <div class="vl-right">
                        </div>
                    </div> 
                </div>
        </div>
        <div id="bottom">
            Bottom
        </div>
    </div>

    <div id="content">
        <div id="top">
            
            <div id="left">
                <div class="container"> 
                <br><br>
                    <img src="/images/about_historyspeech.svg" alt="speech" style="height: 601px""width: 400px""left :188px""top: 1611px""border-radius: 0px">  
                </div>
            </div>
            
            <div id="right">
            <br><br><br><br>
                h1.sub-title.right Role of National Working Group
                <div class="container"> The Government of India (the Ministry of Human Resource Development) also constituted a National Working Group to look into the role of AICTE in the context of proliferation of technical institutions, maintenance of standards, and other related matters. The Working Group recommended that AICTE be vested with the necessary statutory authority for making it more effective, which would consequently require restructuring and strengthening with the necessary infrastructure and operating mechanisms.
                </div>
            <br><br><br>
                h1.sub-title.right The All India Council For Technical Education Act 1987
                <div class="container">(No 52 of 1987 as passed by both the Houses of Parliament)<br><br>The AICTE Act was constituted to provide for the establishment of an All India Council for Technical Education with a view to proper planning and co-ordinated development of a technical education system throughout the country, the promotion of qualitative improvements of such education in relation to planned quantitative growth, and regulation & proper maintenance of norms and standards in the technical education system and for the matters connected therewith.
                </div>
            </div> 
        </div>
        <div id="bottom">
        </div>
    </div>
    <br><br>
    a(href='/' class="btn-more") 
        span Download the Act  
        //- img(src="/images/readmore.svg" alt="readmore" id="Download the Act")
        
    block content

    .hero      
        
        p.image-description <br><br><br>The purview of AICTE (the Council) covers programmes of technical education including training and research in Engineering, Technology, Architecture, Town Planning, Management, Pharmacy, Applied Arts and Crafts, Hotel Management and Catering Technology etc. at different levels.


        
