extends ../layouts/layout
block head
     title  Leadership Team

block css 
    block css 
    link(rel="stylesheet" href="/stylesheets/styles.css")
    link(rel="stylesheet" href="/stylesheets/about/office.css")
block content
  
    <h2 class="about-office-head">  OFFICES(HEAD AND REGINAL OFFICES)</h2>
    <p  class="about-office-subhead">Details of Officers and Officials at AICTE Regional and Camp Offices.</p>
    
    <br></br>
     h2.sub-title.left Head Office
     <div class=rows> 
   
    <img src="/images/about-officer-img2.svg" alt="news-news-hero" class="news-event-image"></img>
    <div class=center-event> 
    <div class="news-event-top1">
    <p class="news-event-name">New Delhi<p>
    
    <div class=line></div>

    <br></br
    <p class="news-event-description">Nelson Mandela Marg Vasant Kunj,<br/> New Delhi-110070<br/>Phone: 011-26131576-78,80, 29581000<br/><p>
    </div>
    </div>
    </div> 
    
    <br/>
     h2.sub-title.left Regional & Camp Office
    //- <img src="/images/about-officers-img.svg" alt="news-news-hero" class="news-event-image"></img>

    
    <div class="about-office-indiatop">
    <div id="about-office-buttontop">
    <button class="about-office-button" >NORTH <p class="about-office-insidebutton">view office</p></button>
    </div >
    <br/>
    <br/>
    <br/>
    
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="about-office-linebutton">
    <button class="about-office-button">WEST <p class="about-office-insidebutton">view office</p></button>
    <button class="about-office-button">CENTRAL <p class="about-office-insidebutton">view office</p></button>
    <button class="about-office-button">EAST <p class="about-office-insidebutton">view office</p></button>
   
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
   
    <br/>
    <br/>
    <div id="about-office-buttonbottom">
    <button class="about-office-button" >SOUTH <p class="about-office-insidebutton">view office</p></button>
    </div>
    </div>
    