extends ../layouts/layout

block head 
    title= "About - AICTE"

block css 
    link(rel="stylesheet" href="/stylesheets/about/about-overview.css")

block content
    h1.page-title overview
        
    .hero 
        img(src="/images/about-overview.svg" alt="about-overview")
        p Technical education in India contributes a major share to the overall education system and plays a vital role in the social and economic development of our nation.
       
    <div id="content">
     
        <div id="top">
            h2.sub-title.left The Organisation
            <div id="left">
            
                <div class="container"> In accordance with the provisions of the AICTE Act (1987), for the first five years after its inception in 1988, the Minister for Human Resource Development, the Government of India, was the Chairman of the Council. The first full-time Chairman was appointed on July 2, 1993 and the Council was reconstituted in March 1994 with a term of three years. The Executive Committee was re-constituted on July 7, 1994 and All India Board of Studies and Advisory Boards were constituted in 1994-95. Regional Offices of the Ministry of Human Resource Development, the Government of India, located in Kolkata, Chennai, Kanpur, and Mumbai were transferred to AICTE and the staff working in these offices were also deputed to the Council on foreign service terms w.e.f. October 1, 1995.<br><br>These offices functioned as secretariats of regional Committees in the four regions (North, East, West and South). Three new regional Committees in southwest, central, and northwest regions with their secretariats located in Bangalore, Bhopal, and Chandigarh, respectively, were also established on July 27, 1994. One more regional committee in South-Central region with its Secretariat in Hyderabad was notified on March 8, 2007. 
                </div>

                
            </div>
            
            h2.sub-title.right Our Objectives
            <div id="right">
                img(src="/images/about-pic.svg" alt="about-pic")
                
            </div>
                .objectives
                    <div id="box" class="container" >Promotion of Quality in<br>Technical Education
                    </div>
                .objectivess
                    <div id="box" class="container" >Planning and Coordinated Development of Technical Education System
                    </div>
                .objectivesss
                     <div id="box" class="container" >Regulations and Maintenance of Norms and Standards
                     </div> 
           


        </div>
    </div>  
    
    
    
    //- <div id="left">
        h2.sub-title.left Our Vision
        .overview-vision 
            img(src="/images/about-vision.svg" alt="about-vision")
    //- </div>
    //- <div id="right">
        <div id="quotes" class="bluebox"> “To be a world-class organization leading technological and socio-economic development of the country by enhancing the global competitiveness of technical manpower and by ensuring high quality technical education to all sections of the society.” 
        //- </div>
    //- </div>


    h2.sub-title.center Our Mission
        p A true facilitator and an objective regulator
        p Transparent governance and accountable approach towards the society
        <br>Planned and coordinated development of Technical Education in the country by ensuring world-class standards of institutions through accreditation
        <br>Emphasis on developing high quality institutions, academic excellence, and innovative research and development programmes
        <br>Networking with/ or a network of institutions for optimum resource utilization
        <br>Dissemination of knowledge
        <br>Technology forecasting and global manpower planning
        <br>Promoting industry-institution interaction for developing new products, services, and patents
        <br>Inculcating entrepreneurship
        <br>Encouraging indigenous technology
        <br>Focusing on non-formal education
        <br>Providing affordable education to all
        <br>Making Technical Education in India globally acceptable 

    <div id="bottom">
            Bottom
    </div>
    
        