#status-bar,
.status-right,
.font-size,
.screen-reader {
    display: flex;
    font-size: var(--fs-sm);
    color: var(--milk-white);
}

#status-bar {
    height: var(--status-bar-height);
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    padding-inline: var(--lr-padding);
}

.status-right {
    gap: 1.5em;
}

.font-size {
    gap: 1em;
}

.font-change-buttons > span {
    margin-inline: 0.25em;
    cursor: pointer;
}

.screen-reader {
    gap: 0.5em;
    cursor: pointer;
}

.screen-reader > img {
    aspect-ratio: 1;
    width: var(--fs-sm);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75vh var(--lr-padding);
    background-color: var(--grey);
    min-height: var(--nav-height);
}

nav,
#status-bar {
    position: relative;
    z-index: 10;
}

nav img {
    cursor: pointer;
}

.fa-bars,
.fa-times {
    display: none;
    font-size: 1.4em;
}
.nav-left {
    display: flex;
    place-items: center;
    gap: 0.6em;
}

#aicte-logo {
    object-fit: contain;
    height: 6.5vh;
    max-height: 3.1em;
    min-height: 40px;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 2em;
}

#main-nav li {
    height: calc(var(--nav-height) - 1em);
}

.link-container {
    display: grid;
    justify-content: right;
    flex-wrap: wrap;
}

.fa-caret-down {
    transition: transform 300ms;
}

.rotate {
    transform: rotate(180deg);
}

.nav-link > p,
#info {
    cursor: pointer;
    flex: 1 0 100%;
}

.nav-links,
#main-nav > li,
#info {
    display: flex;
    place-items: center;
    gap: 0.3em;
    justify-content: flex-end;
}

.fa-arrow-left {
    height: var(--fs-md);
}

#extended-nav {
    clip-path: inset(0 0 100% 0);
    display: flex;
    background-color: var(--grey);
    justify-content: right;
    height: 0px;
}

.nav-links {
    list-style: none;
    gap: 1.3em;
}

#extended-nav.extended-nav-open {
    clip-path: none;
    height: auto;
    margin-bottom: 0.5em;
}

.slide-menu {
    position: fixed;
    transform: translateX(100%);
    top: var(--status-bar-height);
    right: 0;
    bottom: 0;
    background-color: var(--grey);
    transition: transform 0.8s;
    height: calc(100vh - var(--status-bar-height));
    z-index: 2;
    padding-bottom: 1.5em;
}

.slide-menu.slide-open {
    transform: translateX(0);
}

.submenu .header {
    font-size: var(--fs-lg);
    font-weight: 700;
    margin: 0.8em 0 1em;
    border-bottom: 2px solid var(--blue);
    padding: 0 1.5em 0.75em;
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.sub-link {
    margin-bottom: 1.5em;
}

.link-grid {
    background-color: var(--grey);
    padding: 0 1.5em;
}

.sub-link strong {
    color: var(--orange);
    font-size: var(--fs-md);
}

.sub-link small {
    display: block;
    font-size: var(--fs-sm);
    color: var(--black);
}

.nav-link:hover .submenu {
    display: block;
}

#extended-nav {
    flex: 1 0 100%;
}

.nav-link {
    font-weight: 500;
}

.hide-lg {
    display: none;
}

@media screen and (min-width: 875px) {
    #extended-nav {
        border-top: 2px solid var(--orange);
        padding-top: 0.6em;
        padding-left: 1.25em;
    }
}

@media screen and (max-width: 875px) {
    .fa-bars,
    .fa-times {
        display: block;
    }

    .nav-link {
        width: 100%;
    }

    .nav-left {
        justify-content: space-between;
        flex: 1 0 100%;
    }

    .menu-icon-container {
        width: 1.4em;
    }

    .hide,
    .nav-right #main-nav > #extended-nav-cover {
        display: none;
    }

    .slide-menu,
    .nav-right {
        left: 0;
        right: 0;
        height: calc(100vh - var(--status-bar-height) - var(--nav-height));
    }

    .slide-menu {
        top: 0;
        overflow-y: auto;
    }

    .nav-right {
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        padding: 1em var(--lr-padding) 0;
        background: var(--grey);
        transition: transform 0.8s;
        transform: translateX(100vw);
        left: 40vw;
        top: calc(var(--status-bar-height) + var(--nav-height));
    }

    .nav-link p {
        text-align: right;
    }

    .menu-open {
        transform: translateX(0);
    }

    #main-nav li {
        height: auto;
    }

    .nav-links {
        flex-direction: column;
        place-items: flex-start;
        margin-bottom: 1.3em;
    }

    #extended-nav {
        height: auto;
    }

    #extended-nav {
        clip-path: none;
    }

    .link-container {
        justify-content: right;
    }
}

@media screen and (max-width: 550px) {
    .hide-sm {
        display: none;
    }

    .hide-lg {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .nav-right {
        left: 0;
    }

    .link-container {
        justify-content: left;
    }

    .nav-link p {
        text-align: left;
    }

    .nav-right {
        align-items: flex-start;
    }
}
