#nav-container {
    color: var(--white);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#main-content {
    margin-top: var(--top-offset);
}

#header-wrapper {
    background-color: var(--nav-color);
}

.dark #status-wrapper {
    background-color: rgb(15, 15, 15);
}

#dark, #light {
    cursor: pointer;
}

#status-wrapper {
    background-color: var(--primary2);
    height: var(--status-bar-height);
    color: white;
}

#status {
    gap: 1.25em;
    align-items: center;
    justify-content: flex-end;
    padding-block: 0.5em;
    max-height: var(--status-bar-height);
    font-size: var(--fs-sm);
}

.hindi {
    font-family: 'Hind', sans-serif;
}

#status img {
    height: var(--fs-sm);
    aspect-ratio: 1;
}

#status .action,
.font-grp,
#nav-left,
.menu-head {
    gap: 0.4em;
    place-items: center;
}

.font-grp {
    gap: 0.5em;
    margin-left: 0.7em;
}

.w-wrapper {
    display: flex;
    align-items: center;
}

.w-wrapper > * {
    width: 100%;
}

#header-wrapper {
    height: var(--nav-height);
}

#nav-wrapper {
    height: var(--primary-nav-height);
}

#header {
    align-items: center;
    justify-content: space-between;
    max-height: var(--nav-height);
}

#aicte-logo {
    width: 4.2em;
    aspect-ratio: 1;
    transform: translateY(-20%);
}

#nav-left a {
    color: var(--black);
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.5em;
}

#nav-left {
    height: var(--nav-height);
}

.logo {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    position: relative;
    color: #272727;
}

.logo::after {
    content: '';
    background-color: var(--black);
    position: absolute;
    height: 1.3px;
    width: 100%;
    left: 0;
    right: 0;
    top: calc(44%);
    transform: translateY(50%);
}

#nav-wrapper {
    background-color: var(--primary);
    position: relative;
}

#primary-nav {
    padding-block: 0.5em;
    gap: 1.5em;
    max-height: var(--primary-nav-height);
}

#home,
.menu-head,
#menu-icon,
#close-icon,
.submenu-left > img {
    font-weight: 500;
    gap: 0.5em;
    cursor: pointer;
}

#menu-Bulletins {
    --area: Bulletins;
}

#menu-Statistics {
    --area: Statistics;
}

#menu-Bureaus {
    --area: Bureaus;
}

#menu-Initiatives {
    --area: Initiatives;
}

#menu-Opportunities {
    --area: Opportunities;
}

.submenu {
    grid-area: var(--area);
    height: fit-content;
}

.submenu-wrapper {
    position: absolute;
    height: calc(100vh - var(--top-offset));
    background-color: var(--primary);
    left: 0;
    right: 0;
    top: 100%;
    z-index: 5;
    overflow: hidden;
}

.submenu-container .submenu-wrapper {
    transform: translateY(-100vh);
    transition: transform 500ms;
}

.submenu-active .submenu-wrapper {
    display: grid;
    transform: translateY(0);
}

.submenu-container .submenu {
    display: grid;
    --gap: 6em;
    gap: var(--gap);
    padding: 5em var(--lr-p) 1em var(--lr-p);
}

.x6 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}

.x12 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left right right";
}

.x12 .submenu-right {
    grid-template-columns: repeat(2, 1fr);
}

.submenu-left {
    align-self: center;
    justify-self: right;
    grid-area: left;
}

.submenu-left h2 {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Catamaran", sans-serif;
}

.submenu-right {
    position: relative;
    height: fit-content;
    display: grid;
    gap: 1.2em;
    grid-auto-flow: row;
    grid-area: right;
}

.submenu-right::before {
    content: "";
    width: 2px;
    height: 75%;
    position: absolute;
    background-color: var(--white);
    left: calc(var(--gap) / -2);
    top: 12.5%;
}

#info-menu .submenu {
    grid-template-columns: 1fr;
    grid-template-areas: "left" "right" !important;
    padding: 0;
    width: 100%;
}

#info-menu .submenu-right {
    margin-left: calc(var(--gap) / 2);
}

#info-menu .x12 .submenu-right {
    grid-template-columns: repeat(1, 1fr);
}

#info-wrapper {
    padding-right: 17px;
    padding-block: 4em 0;
    padding-inline: var(--lr-p);
}

.submenu-active .submenu-wrapper {
    overflow: hidden auto;
}

#info-menu-scroller {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "Bulletins Statistics"
        "Initiatives Statistics"
        "Initiatives Bureaus"
        "Opportunities Opportunities";
    grid-gap: 6em;
}

#info-menu .submenu-left {
    place-self: start;
}

#info-menu .submenu-right::before {
    top: 0;
}

#info-menu .submenu {
    --gap: 3em;
}

.submenu-active .menu-head img {
    transform: rotateZ(180deg);
    transition: transform 500ms;
}

.width-control-700 {
    padding-inline: var(--lr-p);
}

@media screen and (min-width: 700px) {
    .hide-lg {
        display: none;
    }
}

.submenu-left {
    place-items: center;
    gap: 1em;
}

.nav-back {
    width: 2em;
    height: 2em;
    filter: invert(1);
}

@media screen and (max-width: 700px) {
    .hide-sm {
        display: none;
    }

    :root {
        --nav-height: 5rem;
    }

    .submenu-container .submenu {
        grid-template-columns: 1fr;
        grid-template-areas: "left" "right";
        padding-top: 3em;
    }

    #info-menu-scroller,
    .submenu-container .submenu {
        display: flex;
        flex-direction: column;
        gap: 3em;
        margin-left: 0;
    }

    .submenu-container .submenu-right {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }

    .submenu-container .submenu-wrapper {
        justify-content: start;
        align-items: start;
        transform: translateY(0) translateX(100vw);
    }

    .submenu-active .submenu-wrapper {
        transform: translateX(0);
        display: flex;
    }

    .submenu-left {
        align-self: start;
    }

    .submenu-right::before {
        top: 0;
    }

    :root {
        --primary-nav-height: 0em;
    }

    #primary-nav {
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: var(--primary);
        max-height: none;
        padding-top: 2em;
        transform: translateX(-200vw);
        transition: transform 500ms ease-in-out;
        overflow: hidden;
    }

    #primary-nav.nav-active {
        transform: translateX(0);
        overflow-y: auto;
        z-index: 10;
    }

    #primary-nav,
    .submenu-wrapper {
        height: calc(100vh - var(--status-bar-height) - var(--nav-height));
    }

    .submenu-wrapper {
        top: 0;
    }

    .menu-head {
        justify-content: space-between;
    }

    .menu-head > img {
        transform: rotateZ(270deg);
        width: 1em;
    }
}
